<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957953293824-7h75j3636v0huvjne079b86jmiqnetja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957953293824-7h75j3636v0huvjne079b86jmiqnetja</string>
	<key>API_KEY</key>
	<string>AIzaSyDImrMn83PXg9DFz44OVNQh9CkEITska78</string>
	<key>GCM_SENDER_ID</key>
	<string>957953293824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drohealthdemo</string>
	<key>PROJECT_ID</key>
	<string>dro-app-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>dro-app-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957953293824:ios:3caabb4f408486fca8e2e5</string>
	<key>DATABASE_URL</key>
	<string>https://dro-app-demo-default-rtdb.firebaseio.com</string>
</dict>
</plist>